<http auto-config="true">
    <intercept-url pattern="/" access="ROLE_USER" />
    <intercept-url pattern="/admin" access="ROLE_ADMIN" />
    <form-login
            login-page="/login"
            default-target-url="/index"
            authentication-failure-url="/login?error"
            username-parameter="user"
            password-parameter="pass"/>
</http>
