<web-app>

    <!--Подключаем ДиспатчерСервлет для всех запросов-->
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>

    <!--Указыввем какие запросы будет обрабатывать сервлет-->
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>



    <!--Добавляем кастомную страницу для ошибок-->
    <error-page>
        <error-code>404</error-code>
        <location>/error/404</location>
    </error-page>

</web-app>